/node_modules
/vendor
.env
.DS_Store
Thumbs.db
/storage/app/qr_codes/*
!/storage/app/qr_codes/.gitkeep
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep
/public/hot
/public/storage
/storage/app/public
.phpunit.result.cache
homestead.json
homestead.yaml
npm-debug.log
yarn-error.log
